<div class="taskCard" (click)="onCardClick()">
  @if (task.category == 'User Story') {
    <div class="typUser">User Story</div>
  } @else {
    <div class="typTechnical">Technical Task</div>
  }
  <div>
    <p class="title">{{ task.title }}</p>
    <p class="description">{{ task.description }}</p>
  </div>
  @if (task.subtasks.length) {
    <div class="subtaskContainer">
      <div class="progress-container">
        <div class="progress-bar" [style.width.%]="getSubtaskProgress(task)"></div>
      </div>
      <p>{{ getCompletedCount(task) }}/{{ task.subtasks.length }} Subtasks</p>
    </div>
  }
  <div class="teamPriorityContainer">
    <div class="teamContainer" *ngIf="task.assignedTo?.length">
      <div class="workingTeam" *ngFor="let member of task.assignedTo | slice: 0 : 3">
        <div
          class="avatarLetterBox"
          [style.background-color]="contactService.getContactColor(getContactByName(member))"
        >
          <p>{{ contactService.getInitials(member) }}</p>
        </div>
      </div>
      <p *ngIf="(task.assignedTo?.length ?? 0) > 3">
        +<span>{{ (task.assignedTo?.length ?? 0) - 3 }}</span>
      </p>
    </div>
    @if (task.priority == 'low') {
      <img src="assets/icon/task/priority-symbol-low.png" />
    } @else if (task.priority == 'medium') {
      <img src="assets/icon/task/priority-symbol-medium.png" />
    } @else {
      <img src="assets/icon/task/priority-symbol-urgent.png" />
    }
  </div>
</div>
