.contact-list-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  scroll-behavior: auto;
  padding-bottom: 8px;
  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
  }
  .contact-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 20px 0px 20px;
    flex-grow: 1;
    overflow-y: scroll;
  }
  .addButton {
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700 bold;
    line-height: 120%;
    color: #ffffff;
    max-width: 352px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    gap: 8px;
    transition: all 125ms ease-in;
    img {
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
      background-color: #007cee;
      box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
    }
  }
  .start-letter {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
  }
  .singleContactContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 352px;
    gap: 35px;
    padding: 16px;
    padding-left: 24px;
    .avatarLetterBox {
      width: 42px;
      height: 42px;
      border-radius: 40px;
      border: 2px solid white;
      background-color: #ffc700;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 16px;
        color: #ffffff;
      }
    }
    .contactSingleInfo {
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
      a {
        font-size: 16px;
        color: #007cee;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #f6f7f8;
      border-radius: 10px;
    }
    &.active {
      background-color: #2a3647;
      border-radius: 10px;
      color: #ffffff;
    }
  }
  .addButtonMobil {
    display: none;
  }
}

@media (max-width: 1000px) {
  .singleContactContainer.active {
    background-color: white !important;
    color: #2a3647 !important;
  }
  .contact-list-section {
    .button-container {
      justify-content: center;
      padding-left: 0;
    }
    .addButton {
      margin-left: 0;
      width: 100%;
    }
    .contact-list-div {
      overflow-y: visible;
    }
  }
}

@media (max-width: 768px) {
  .contact-list-section {
    .addButton {
      display: none;
    }
    .contact-list-div {
      padding-bottom: 120px;
    }
    .addButtonMobil {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: #2a3647;
      position: fixed;
      bottom: 84px;
      right: 20px;
      height: 40px;
      width: 40px;
      img {
        height: 24px;
        width: 24px;
      }
      &:hover {
        cursor: pointer;
        background-color: #007cee;
      }
    }
  }
}

@media (max-width: 400px) {
  .contact-list-section {
    width: 100%;
    margin: 0;
    .contact-list-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      padding-bottom: 120px;
    }
    img {
      width: 100%;
    }
    .start-letter {
      display: flex;
      justify-content: flex-start;
      padding-left: 0px;
      width: 100%;
    }
    .singleContactContainer {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      padding: 4px;
      padding-left: 8px;
      .avatarLetterBox {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-size: 16px;
          color: #ffffff;
        }
      }
      .contactSingleInfo {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
          font-size: 18px;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }
}
