.contact-list-section{
  max-width: 456px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
  .contact-list-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .addButton{
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 21px;
    font-weight: 700 bold;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 352px;
    width: 100%;
    height: 56px;
    gap: 16px;
    img{
      width: 32px;
      height: 32px;
    }
  }
}