.contact-list-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .contact-list-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .addButton {
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700 bold;
    line-height: 120%;
    color: #ffffff;
    max-width: 352px;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    gap: 8px;
    img {
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .start-letter {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    margin-top: 24px;
    width: 100%;
  }
  .singleContactContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 35px;
    padding: 8px;
    padding-left: 28px;
    margin-top: 8px;
    .avatarLetterBox {
      width: 42px;
      height: 42px;
      border-radius: 40px;
      background-color: #ffc700;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 16px;
        color: #ffffff;
      }
    }
    .contactSingleInfo {
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
      a {
        font-size: 16px;
        color: #007cee;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #f6f7f8;
      border-radius: 10px;
    }
  }
  .addButtonMobil {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact-list-section {
    .addButton {
      display: none;
    }
    .addButtonMobil {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: #2a3647;
      position: absolute;
      bottom: 20px;
      right: 20px;
      height: 40px;
      width: 40px;
      img {
        height: 24px;
        width: 24px;
      }
      &:hover {
        cursor: pointer;
        background-color: #007cee;
      }
    }
  }
}
