<section class="contact-list-section">
  <div class="contact-list-div">
    <a (click)="openContactDia('open')" class="addButton">
      Add new contact
      <img src="assets/imgs/contact-list/person_add.png" />
    </a>
    @for (group of getContactGroups(); track group.letter) {
      <p class="start-letter">{{ group.letter }}</p>
      @for (contact of group.contacts; track $index) {
        <div class="singleContactContainer">
          <div class="avatarLetterBox"><P>MM</P></div>
          <div class="contactSingleInfo">
            <p>{{ contact.name }}</p>
            <a>{{ contact.email }}</a>
          </div>
        </div>
      }
    }
  </div>
  <app-contact-dialog-template #contactDialog [mode]="dialogMode"></app-contact-dialog-template>
</section>
