<section>
  <div class="headlineContainer">
    <h1>Contacts</h1>
    <img class="borderlineDestop" src="assets/icon/contact-info/borderline.png" />
    <h3>Better with a team</h3>
    <img class="borderlineMobil" src="assets/icon/contact-info/borderline-mobil.png" />
  </div>

  <div class="backArrowBtn" [class.active]="isActive">
    <img src="assets/icon/contact-info/back-arrow.png" (click)="backToList()" alt="Back Arrow" />
  </div>

  @if (selectedContact?.name) {
    <div class="contactContant">
      <div class="contactNameContainer">
        <div class="avatarLetterBox" [style.backgroundColor]="getSelectedColor()">
          <p>{{ getInitials(selectedContact?.name) }}</p>
        </div>
        <div class="nameEditContant">
          <h2>{{ selectedContact?.name }}</h2>
          <div class="editContainer">
            <div
              class="editBox"
              (mouseenter)="hoveredIcon = 'edit'"
              (mouseleave)="hoveredIcon = null"
              (click)="editContact()"
            >
              <img
                [src]="
                  hoveredIcon === 'edit'
                    ? 'assets/icon/contact-info/edit-hover.png'
                    : 'assets/icon/contact-info/edit-default.png'
                "
              />
              <p>Edit</p>
            </div>
            <div
              class="editBox"
              (mouseenter)="hoveredIcon = 'delete'"
              (mouseleave)="hoveredIcon = null"
              (click)="deleteContact()"
            >
              <img
                [src]="
                  hoveredIcon === 'delete'
                    ? 'assets/icon/contact-info/delete-hover.png'
                    : 'assets/icon/contact-info/delete-default.png'
                "
              />
              <p>Delete</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contactInfo">
        <h4>Contact Infomation</h4>
        <div class="emailPhoneContainer">
          <div>
            <p>Email</p>
            <a class="emailLink" [href]="selectedContact ? 'mailto:' + selectedContact.email : ''">
              {{ selectedContact?.email }}
            </a>
          </div>
          <div>
            <p>Phone</p>
            <a class="phoneLink" [href]="selectedContact ? 'tel:' + selectedContact.phone : ''">
              {{ selectedContact?.phone }}
            </a>
          </div>
        </div>
      </div>
    </div>
  }
  <div class="editBurgermenu" (click)="toggleMenu(); $event.stopPropagation()">
    @if (!menuOpen) {
      <div class="preview">
        <img src="assets/icon/contact-info/burgermenu.png" alt="burgermenu" />
      </div>
    } @else {
      <div class="menu">
        <div
          class="editBox"
          (mouseenter)="hoveredIcon = 'edit'"
          (mouseleave)="hoveredIcon = null"
          (click)="onEditFromMenu($event)"
        >
          <img
            [src]="
              hoveredIcon === 'edit'
                ? 'assets/icon/contact-info/edit-hover.png'
                : 'assets/icon/contact-info/edit-default.png'
            "
          />
          <p>Edit</p>
        </div>
        <div
          class="editBox"
          (mouseenter)="hoveredIcon = 'delete'"
          (mouseleave)="hoveredIcon = null"
          (click)="onDeleteFromMenu($event)"
        >
          <img
            [src]="
              hoveredIcon === 'delete'
                ? 'assets/icon/contact-info/delete-hover.png'
                : 'assets/icon/contact-info/delete-default.png'
            "
          />
          <p>Delete</p>
        </div>
      </div>
    }
  </div>
  <app-contact-dialog-template #contactDialog></app-contact-dialog-template>
</section>
