section {
  cursor: default;
  padding: 24px;
  height: 100%;
  width: 100%;
  position: relative;
}

.headlineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 560px;
  width: 100%;
  height: 72px;
  h1 {
    font-size: 64px;
  }
  h3 {
    font-size: 32px;
    font-weight: 400;
    color: #2a3647;
  }
  .borderlineMobil {
    display: none;
  }
}

.contactContant {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .contactNameContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 24px;
    width: 460px;
    .avatarLetterBox {
      width: 100px;
      height: 100px;
      border: 3px solid white;
      border-radius: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 36px;
        color: #ffffff;
      }
    }
    .nameEditContant {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h2 {
        font-size: 40px;
        font-weight: 600;
        margin: 0;
      }
      .editContainer {
        display: flex;
        gap: 24px;
        .editBox {
          display: flex;
          align-items: center;
          gap: 8px;
          img {
            height: 24px;
          }
          &:hover {
            cursor: pointer;
            color: #29abe2;
          }
        }
      }
    }
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
      font-size: 20px;
      font-weight: 400;
    }
    .emailPhoneContainer {
      display: flex;
      flex-direction: column;
      gap: 22px;
      p {
        font-weight: bold;
        padding-bottom: 12px;
      }
      a {
        text-decoration: none;
        padding-bottom: 12px;
      }
      .emailLink {
        color: #007cee;
      }
      .phoneLink {
        color: #2a3647;
      }
    }
  }
}

.backArrowBtn {
  display: none;
}

.editBurgermenu {
  display: none;
}

@media (max-width: 768px) {
  .backArrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    height: 32px;
    width: 32px;
    &:hover {
      cursor: pointer;
    }
  }

  .editBurgermenu {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background-color: #2a3647;
      border-radius: 50px;
      &:hover {
        cursor: pointer;
        background-color: #007cee;
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      background-color: #ffffff;
      box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.15);
      border-radius: 25px 25px 0 25px;
      padding: 16px;
      .editBox {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        &:hover {
          cursor: pointer;
          color: #29abe2;
        }
      }
    }
  }

  .headlineContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    height: 120px;
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      color: #2a3647;
    }
    .borderlineDestop {
      display: none;
    }
    .borderlineMobil {
      display: flex;
    }
  }

  .contactContant {
    .avatarLetterBox {
      width: 68px;
      height: 68px;
    }
    .contactNameContainer {
      gap: 20px;
      .nameEditContant {
        h2 {
          font-size: 36px;
        }
        .editContainer {
          display: none;
        }
      }
    }
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
