:root {
  --header-height: 96px;
  --mobile-nav-height: 64px;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.app-layout {
  display: flex;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  max-height: 100vh;
}

app-nav-bar {
  width: 232px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

app-header {
  height: var(--header-height);
  flex-shrink: 0;

  position: sticky;
  top: 0;
  z-index: 20;

  background-color: #ffffff;
}

.content {
  height: calc(100dvh - var(--header-height));
  overflow-y: auto;
  background-color: #F6F7F8;
}

@media (max-width: 768px) {
  app-nav-bar {
    width: 0;
    flex: 0 0 0;
  }

  .main-area {
    width: 100%;
  }

  .content {
    height: calc(100dvh - var(--header-height) - var(--mobile-nav-height));
  }
}


.extra-header-placeholder {
  display: none;
  flex-shrink: 0;
}

@media (min-width: 1440px) {
  .extra-header-placeholder {
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    width: calc(100vw - 1440px);
    min-width: 0px;
    height: 100vh;
  }

  .body-sim {
    height: 96px;
    border: 0;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

  }
}