section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  .headlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 48px;
    }
    .addBtnSearchContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }
  }
  &:hover {
    cursor: default;
  }
}

.searchSection {
  position: relative;
  width: 300px;
  textarea {
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    resize: none;
    width: 100%;
    height: 36px;
    padding-right: 40px;
    padding-left: 12px;
    padding-top: 4px;
    font-size: 20px;
    &::placeholder {
      color: #d1d1d1;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus-visible {
      outline-color: #29abe2;
    }
  }
  .lensArea {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    gap: 16px;
    img {
      height: 18px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.addBtnMobil {
  display: none;
}
.addBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #2a3647;
  p {
    color: #ffffff;
  }
  &:hover {
    cursor: pointer;
    background-color: #007cee;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
  }
}

.boardContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  .listContant {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .listHeadline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 20px;
        color: #42526e;
      }
      img {
        height: 24px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .listContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 240px;
        color: #a8a8a8;
        border: 2px dotted #a8a8a8;
        border-radius: 10px;
        background-color: #e7e7e7;
      }
    }
  }
}

.taskCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 12px;
  border-radius: 24px;
  box-shadow:
    0px 4px 12px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  width: 240px;
  .typUser {
    height: 26px;
    padding: 4px 16px;
    border-radius: 10px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0038ff;
    color: #ffffff;
  }
  .typTechnical {
    height: 26px;
    padding: 4px 16px;
    border-radius: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1fd7c1;
    color: #ffffff;
  }
  .title {
    font-weight: 700;
    color: #2a3647;
  }
  .description {
    padding-top: 8px;
    color: #a8a8a8;
  }
  .subtaskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .progress-container {
      width: 100px;
      height: 8px;
      background-color: #e7e7e7;
      border-radius: 8px;
      overflow: hidden;
      .progress-bar {
        height: 100%;
        background-color: #4589ff;
        border-radius: 8px;
        transition: width 0.3s ease;
      }
    }
  }
  .teamPriorityContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    .teamContainer {
      display: flex;
      padding-left: 8px;
      .workingTeam {
        margin-left: -8px;
        .avatarLetterBox {
          width: 32px;
          height: 32px;
          border: 1px solid white;
          border-radius: 80px;
          background-color: #007cee;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            color: #ffffff;
          }
        }
      }
      img {
        height: 8px;
      }
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media (max-width: 1300px) {
  section {
    .headlineContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      width: 100%;
      .headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1 {
          font-size: 48px;
        }
        .addBtnMobil {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          background-color: #2a3647;
          border-radius: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .addBtnSearchContainer {
        width: 100%;
        .searchSection {
          width: 100%;
        }
      }
      .addBtn {
        display: none;
      }
    }
  }
  .boardContainer {
    flex-direction: column;
    .listContant {
      gap: 0;
      .listContainer {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: row;
        overflow: auto;
        .placeholder {
          width: 100%;
        }
      }
    }
  }
}
