section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  .headlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 60px;
    }
    .addBtnSearchContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }
  }
  &:hover {
    cursor: default;
  }
}

.searchSection {
  position: relative;
  width: 312px;
  display: flex;
  align-items: center;
  textarea {
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    resize: none;
    width: 100%;
    height: 48px;
    padding-right: 40px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 20px;
    font-weight: 400;

    &::placeholder {
      color: #d1d1d1;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus-visible {
      outline-color: #29abe2;
    }
  }
  .lensArea {
    position: absolute;
    top: 8px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    height: 32px;
    .lensImg {
      height: 18px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.addBtnMobil {
  display: none;
}
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #2a3647;
  width: 160px;
  height: 48px;
  p {
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
  }
  img {
    height: 18px;
  }
  &:hover {
    cursor: pointer;
    background-color: #007cee;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
  }
}

.boardContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  min-height: 285px;
  .listContant {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100px;
    .listHeadline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 700;
        color: #42526e;
      }
      img {
        height: 24px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .listContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 2px;
      padding-bottom: 8px;
      overflow-y: scroll;
      scrollbar-width: none;
      width: 250px;
      height: 100%;
      .task-card {
        cursor: default;
        background-color: #ffffff;
        border-radius: 24px;
      }
      .placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 240px;
        color: #a8a8a8;
        border: 2px dotted #a8a8a8;
        border-radius: 10px;
        background-color: #e7e7e7;
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0.2;
  background: #bfd7f0;
  border: 4px dotted #999;
  border-radius: 12px;
  margin-bottom: 12px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  padding-right: 20px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 20px;
  position: fixed;
}

.rotation-wrapper {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow:
    0px 4px 12px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview .preview-container {
  box-sizing: border-box;
}

.cdk-drag-preview .rotation-wrapper {
  user-select: none;
  display: block;
  width: 240px;
  height: 100%;
}

@media (max-width: 1350px) {
  section {
    height: auto;
    .headlineContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      width: 100%;
      .headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1 {
          font-size: 48px;
        }
        .addBtnMobil {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          background-color: #2a3647;
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            background-color: #007cee;
            box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .addBtnSearchContainer {
        width: 100%;
        .searchSection {
          width: 100%;
        }
      }
      .addBtn {
        display: none;
      }
    }
  }
  .boardContainer {
    flex-direction: column;
    gap: 24px;
    .listContant {
      gap: 0;
      min-height: 40px;
      height: 100%;
      .listHeadline {
        p {
          font-size: 26px;
          font-weight: 700;
          color: #2a3647;
        }
      }
      .listContainer {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: auto;
        width: 100%;
        .task-card {
          height: auto;
        }
        .placeholder {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .listContantDone {
    padding-bottom: 80px;
  }
}

@media (max-width: 400px) {
  section {
    padding-left: 12px;
    padding-right: 12px;
  }
}
