.searchSection {
  position: relative;
  width: 200px;
  textarea {
    resize: none;
    width: 100%;
    height: 32px;
    padding-right: 40px;
    &::placeholder {
      color: #02f4c080;
      background-color: none;
    }
  }
  img {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 16px;
    object-fit: cover;
  }
}
