.desktop-view {
  display: flex;
  max-width: 1440px;
  background-color: #f6f7f8;
  app-contact-list {
    max-width: 456px;
  }
  app-contact-info {
    width: 100%;
  }
}

.mobile-view {
  app-contact-info {
    background-color: #f6f7f8;
  }
}
