section {
  width: 100%;
  .desktop-view {
    display: flex;
    max-width: 1440px;
    width: 100%;
    min-height: calc(100vh - var(--header-height, 96px));
    background-color: #f6f7f8;
    app-contact-list {
      height: calc(100vh - var(--header-height, 96px));
      max-width: 456px;
    }
    .fixed {
      position: relative;
      app-contact-info {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 96px;
        overflow: auto;
      }
    }
  }

  .mobile-view {
    height: 100%;
    app-contact-info {
      background-color: #f6f7f8;
    }
  }
}
