section {
  width: 100%;
  .desktop-view {
    display: flex;
    max-width: 1440px;
    width: 100%;
    min-height: calc(100vh - var(--header-height, 96px));
    background-color: #f6f7f8;
    app-contact-list {
      height: 100%;
      max-width: 456px;
    }
    app-contact-info {
      width: 100%;
    }
  }

  .mobile-view {
    min-height: calc(100vh - var(--header-height, 96px) - var(--nav-height, 64px));
    app-contact-info {
      background-color: #f6f7f8;
    }
  }
}
