dialog{
  display: none;
}

dialog[open]{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: auto;
  max-height: 600px;
  height: 100%;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  &::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dialog-left{
    display: flex;
    padding: 48px;
    flex-direction: column;
    justify-content: center;
    background-color: #2A3647;
    color: white;
    .join-logo{
      height: 66px;
      width: 55px;
    }
  }
  .dialog-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 48px 48px 98px;
    gap: 50px;
    .profile-image-div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      background-color: #D1D1D1;
      img{
        height: 42px;
        width: 42px;
      }
    }
  }
}
.form-div{
  display: flex;
  flex-direction: column;
  gap: 32px;
  .cancelDelete{
    border: 1px solid #2A3647;
  }
  .createSave{
    background-color: #2A3647;
  }
}
