.summary-section {
  display: flex;
  flex-direction: column;
  padding: 64px;
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
  gap: 2rem;
  .summary-headline {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 625px;
    height: 72px;
    h1 {
      font-size: 61px;
      margin: 0;
    }
    h3 {
      font-size: 27px;
      font-weight: 400;
      color: #2a3647;
      margin: 0;
    }
    .borderlineDestop {
      display: block;
    }
    .borderlineMobil {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .summary-headline {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      height: auto;
      width: 100%;
      h1 {
        font-size: 48px;
      }
      h3 {
        font-size: 20px;
      }
      .borderlineDestop {
        display: none;
      }
      .borderlineMobil {
        display: block;
      }
    }
  }
  .summary-information {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    .metrics {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .metric {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .group-one,
        .group-third {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
        .group-third {
          .metric-card-bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 0.5rem;
          }
        }
        .metric-card,
        .metric-card-bottom {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          flex: 1;
          background: #fff;
          border-radius: 1rem;
          padding: 1rem;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          transition: all 0.25s ease;
          height: 160px;
          .icon-wrapper {
            position: relative;
            width: 69px;
            height: 69px;
          }
          .summary-icon-general {
            width: 69px;
            height: 69px;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.25s ease;
          }
          .urgentContant {
            display: flex;
            align-items: center;
            gap: 18px;
          }
          .summary-icon-urgent {
            width: 60px;
            height: 60px;
            object-fit: cover;
          }
          .icon-hover {
            opacity: 0;
          }
          .counter-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }
          .count {
            font-size: 60px;
            font-weight: bold;
            transition: color 0.25s ease;
          }
          .label {
            font-size: 20px;
            color: #2a3647;
            transition: color 0.25s ease;
          }
          .summary-icon-line {
            height: 80px;
          }
          .deadline {
            font-size: 21px;
            font-weight: 700;
            color: black;
            transition: color 0.25s ease;
            text-align: start;
          }
          .deadlinelabel {
            padding-top: 8px;
            font-size: 16px;
            text-align: start;
          }
          &:hover {
            background: #2a3647;
            transform: translateY(-4px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
            .label,
            .count,
            .deadline {
              color: #fff;
            }
            .icon-default {
              opacity: 0;
            }
            .icon-hover {
              opacity: 1;
            }
          }
          &.urgent:hover {
            background: #2a3647;
            .label,
            .count,
            .deadline,
            .deadlinelabel {
              color: #fff;
            }
          }
        }
        .urgent {
          padding: 28px 48px;
          height: 100%;
          display: flex;
          justify-content: center;
          gap: 60px;
          width: 560px;
        }
      }
    }
    .greeting {
      flex: 0 0 auto;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .greeting-text {
        font-weight: 500;
        font-size: 47px;
      }
      .user-name {
        font-weight: 700;
        font-size: 64px;
        color: #1d9bf0;
        margin-top: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .summary-icon-urgent {
    width: 69px;
    height: 69px;
    object-fit: contain;
  }
  .summary-icon-line {
    height: 60px;
  }
}

@media (max-width: 1364px) {
  .summary-section .summary-information .greeting {
    .greeting-text {
      font-size: 40px !important;
    }
    .user-name {
      font-size: 55px !important;
    }
  }
  .summary-section .summary-information .metrics {
    .count {
      font-size: 47px !important;
    }
    .label {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 1229px) {
  .summary-section .summary-information {
    flex-direction: column-reverse;
  }
  .summary-section .summary-information .greeting {
    .greeting-text {
      font-size: 36px !important;
    }
    .user-name {
      font-size: 47px !important;
    }
  }
  .summary-section .summary-information .metrics .metric .urgent {
    padding: 28px;
  }
}

@media (max-width: 1099px) {
  .summary-section {
    padding: 24px;
    align-items: center;
    width: 100%;
  }
  .summary-section .summary-information {
    flex-direction: column;
    width: 100%;
    .greeting {
      align-items: start;
      width: 100%;
      max-width: 100%;
      order: -1;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  .summary-section .summary-information .metrics .metric .urgent {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .summary-section .metrics {
    flex: 1;
    padding-bottom: 80px;
  }
  .summary-section .summary-information {
    .greeting {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .summary-section .metrics {
    .summary-icon-urgent {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .summary-section .summary-information .metrics .metric .urgent {
    height: 140px;
    gap: 40px;
  }
}

@media (max-width: 460px) {
  .summary-section .metrics {
    .summary-icon-general {
      width: 40px !important;
      height: 40px !important;
    }
    .icon-wrapper {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .summary-section .greeting {
    .greeting-text {
      font-size: 28px !important;
    }
    .user-name {
      font-size: 36px !important;
    }
  }
  .summary-section .summary-information .metrics .metric .urgent {
    gap: 20px;
  }
}

@media (max-width: 420px) {
  .summary-section .summary-information .metrics .metric .metric-card {
    flex-direction: column-reverse;
  }
  .summary-section .summary-information .metrics .metric .urgent {
    flex-direction: column;
    gap: 0;
    .summary-icon-line {
      rotate: calc(90deg);
    }
  }
}

@media (max-width: 360px) {
  .summary-section {
    padding: 12px;
  }
  .summary-section .summary-information .metrics .metric .urgent {
    padding: 16px;
  }
  .summary-section .summary-information .metrics .metric .metric-card,
  .summary-section .summary-information .metrics .metric .metric-card-bottom {
    padding: 12px;
    height: auto;
  }
}

@media (max-width: 340px) {
  .summary-section .summary-information .greeting {
    .greeting-text {
      font-size: 22px !important;
    }
    .user-name {
      font-size: 28px !important;
    }
  }
}
