<div class="summary-section">
  <div class="summary-headline headlineContainer" *ngIf="!isMobile || !showGreetingOnly">
    <h1>Join 360</h1>
    <img class="borderlineDestop" src="assets/icon/contact-info/borderline.png" />
    <h3>Key Metrics at a Glance</h3>
    <img class="borderlineMobil" src="assets/icon/contact-info/borderline-mobil.png" />
  </div>

  <div class="summary-information">
    <ng-container *ngIf="groupedTasks$ | async as tasks">
      <div class="metrics" *ngIf="!isMobile || !showGreetingOnly">
        <div class="metric">
          <div class="group-one">
            <a class="metric-card" routerLink="/board">
              <div class="icon-wrapper">
                <img class="summary-icon-general icon-default" src="assets/icon/summary/edit.png" />
                <img
                  class="summary-icon-general icon-hover"
                  src="assets/icon/summary/edit_hover.png"
                />
              </div>
              <div class="counter-text">
                <span class="count">{{ tasks.todo.length }}</span>
                <span class="label">To-do</span>
              </div>
            </a>

            <a class="metric-card" routerLink="/board">
              <div class="icon-wrapper">
                <img
                  class="summary-icon-general icon-default"
                  src="assets/icon/summary/checked.png"
                />
                <img
                  class="summary-icon-general icon-hover"
                  src="assets/icon/summary/checked_hover.png"
                />
              </div>
              <div class="counter-text">
                <span class="count">{{ tasks.done.length }}</span>
                <span class="label">Done</span>
              </div>
            </a>
          </div>

          <a class="metric-card urgent" routerLink="/board">
            <img class="summary-icon-urgent" src="assets/icon/summary/urgent.png" />
            <div class="counter-text">
              <span class="count">{{ urgentCount }}</span>
              <span class="label">Urgent</span>
            </div>
            <img class="summary-icon-line" src="assets/icon/summary/line.png" />
            <div class="counter-text">
              <span class="deadline">{{ upcomingDeadline | date: 'MMMM d, yy' }}</span>
              <span class="label">Upcoming Deadline</span>
            </div>
          </a>

          <div class="group-third">
            <a class="metric-card-bottom" routerLink="/board">
              <span class="count">
                {{
                  tasks.todo.length +
                    tasks.inProgress.length +
                    tasks.awaitFeedback.length +
                    tasks.done.length
                }}
              </span>
              <span class="label">Tasks in Board</span>
            </a>

            <a class="metric-card-bottom" routerLink="/board">
              <span class="count">{{ tasks.inProgress.length }}</span>
              <span class="label">Tasks In Progress</span>
            </a>

            <a class="metric-card-bottom" routerLink="/board">
              <span class="count">{{ tasks.awaitFeedback.length }}</span>
              <span class="label">Awaiting Feedback</span>
            </a>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="greeting" *ngIf="!isMobile || showGreetingOnly">
      <div class="greeting-text">{{ greeting }},</div>
      <span class="user-name" [title]="userName">
        {{
          userName.length > maxUserNameLength
            ? (userName | slice: 0 : maxUserNameLength) + '...'
            : userName
        }}
      </span>
    </div>
  </div>
</div>
